*{
    margin: 0px;
    padding: 0px;
}

.Digest{
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(204, 159, 159);
    border: 30px rgb(156, 123, 233) solid;

}

.Header{
    text-align: center;
    
}
.Heading1{
    text-align: left;
    border-left: 20px blue solid;
}

.Highlight_Image{
    height: 300px;
    width: 90%;
    

}
.jobListing{
    text-align: left;
    margin: 15px;
    padding: 15px;
    border:rgb(180, 43, 180) solid;
    background-color: aliceblue;
}